# Ignore files and directories that are not needed in the Docker image
node_modules
.env
dist
npm-debug.log
yarn-debug.log
yarn-error.log
*.log
*.swp
.DS_Store
.idea/
.vscode/
coverage/
lib-cov/
*.seed
*.pid
*.dockerfile
.dockerignore
LICENSE
*.md