# Application variables
NODE_ENV=production
MONGO_URI=mongodb+srv://fdadmin:<password>@cluster0.avgrx.mongodb.net/<database>?retryWrites=true&w=majority
MONGO_TEST_URI=mongodb+srv://fdadmin:<password>@cluster0.avgrx.mongodb.net/test?retryWrites=true&w=majority
JWT_SECRET=

# Heroku CI/CD variables
HEROKU_API_KEY=
HEROKU_EMAIL=

# Railway CI/CD variables
RAILWAY_TOKEN=