name: Deploy to Heroku

on:
  workflow_call:
    inputs:
      heroku-app-name:
        required: true
        type: string
      environment:
        required: true
        type: string
      working-directory:
        required: false
        type: string

jobs:
  deploy:
    if: ${{ false }} # set to true to enable
    name: Deploy to Heroku
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Deploy
        uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{ secrets.HEROKU_API_KEY }}
          heroku_app_name: ${{ inputs.heroku-app-name }} # Must be unique in Heroku
          heroku_email: ${{ secrets.HEROKU_EMAIL }}
          branch: ${{ github.ref_name }}
          appdir: ${{ inputs.working-directory }}
        env:
          HD_NODE_ENV: ${{ secrets.NODE_ENV }}
          HD_MONGO_URI: ${{ secrets.MONGO_URI }}
          HD_JWT_SECRET: ${{ secrets.JWT_SECRET }}
